@import 'styles/_color';
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  position: relative;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  
}
:root[data-theme="light"] {
  /* ライトテーマで適用するプロパティ値 */
  color-scheme: light;
  background: $main_bg;
}

:root[data-theme="dark"] {
  /* ダークテーマで適用するプロパティ値 */
  color-scheme: dark;
  body{
    background-color: #262626;
    header{
      background-color: #333333;
    }
  }
}
