@import 'styles/_color';
@import 'styles/_variables';
.header{
    box-shadow: 0 5px 3px -4px rgba(0, 0, 0, 0.1);
    background: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    .headerFlex{
        padding:  16px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .headerLogo{
            display: flex;
            align-items: center;
            gap: 16px;
        }
        .headerH1{
            font-size: 30px;
            letter-spacing: 4px;
            @include mq(w425){
                font-size: 25px;
            }
        }
        .headerLink{
            margin-left: auto;
        }
    }
}