@import 'styles/_color';
.modeIcon{
    background: $main_bgpink;
    padding: 5px;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    color: $main_pink;
    // color: #000;
    margin-left: 32px;
    cursor: pointer;
}