@import 'styles/_color';
.aboutH2{
    // text-align: center;
    font-size: 35px;
    margin-top: 80px;
    margin-bottom: 16px;
    color: $main_BgOrange;
    letter-spacing: 4px;
}
.name{
    color: #fff;
    font-size: 25px;
    margin-bottom: 8px;
}
// .text{
//     text-align: center;
// }
.content{
    max-width: 717px;
    width: 100%;
    margin: 0 auto;
    .contentParts{
        margin-top: 48px;
        .contentTitle{
            margin-bottom: 8px;
            font-size: 20px;
            color: $main_BgOrange;
        }
        .text{
            line-height: 1.6;
        }
    }
}