@import 'styles/_variables';
.articleList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 345px));
    grid-gap: 16px;
    justify-content: center;
    @include mq(w1100){
        max-width: 800px;
        margin: 0 auto;
        grid-template-columns: repeat(auto-fit, minmax(300px, 370px));
        grid-gap: 30px;
    }
    .articleItem{
        background: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 5px;
        .thumbnail{
            border-radius: 5px 5px 0 0;
        }
        .postDetail{
            padding: 16px;
        }
        .postDate{
            font-size: 10px;
            margin-top: 8px;
        }
    }
}
:root[data-theme="dark"] {
    .postDetail{
        color: #000;
    }
}
