.articleList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 345px));
    grid-gap: 16px;
    justify-content: space-between;
    .articleItem{
        border: solid 1px;
    }
}
